name: Create version bump PR

on:
  workflow_dispatch:
    inputs:
      version:
        description: Version bump type (patch, minor, major)
        required: true
        type: string

permissions:
  contents: write

jobs:
  bump:
    uses: maplibre/reusable-workflows/.github/workflows/create-version-bump-pr.yml@main
    with:
      version: ${{ inputs.version }}