name: Release

on:
  push:
    branches:
      - main

permissions:
  id-token: write
  contents: write
  attestations: write

jobs:
  release:
    uses: maplibre/reusable-workflows/.github/workflows/npm-publish.yml@main
    with:
      build-command: 'npm run env:prep && npm run build'
      docs-command: 'npm run build:demo'