name: Release

on:
  push:
    branches:
      - main

permissions:
  id-token: write
  contents: write
  attestations: write

jobs:
  release:
    uses: maplibre/reusable-workflows/.github/workflows/npm-publish.yml@main